@import '../../../styles';

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../../../public/background_login.jpg');
  background-size: cover;
  background-position: center;

  .joke-container {
    margin-bottom: 20px;
  }
  
  .joke-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #e3f2fd; /* Azul claro */
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .joke-card p {
    margin: 0;
    font-size: 16px;
  }
  
  .joke-card strong {
    font-size: 18px;
  }

  .login-card {
    width: 400px;
    padding: $medium-spacing;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    mat-card-title {
      text-align: center;
      color: $primary-color;
      margin-bottom: 5%;
    }

    mat-form-field {
      width: 100%;
    }

    button {
      width: 100%;
      margin-top: $medium-spacing;
      background-color: $primary-color;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}

.link-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  .link {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .separator {
    margin: 0 8px;
    color: #666;
  }
}
