<div class="login-container">
  <div class="container" id="main">
    <div class="sign-up">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit('register')">
        <h2>Registrar</h2>
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" required autocomplete="off" />
          <mat-error *ngIf="registerForm.get('email')?.hasError('required')">O nome é obrigatório.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required autocomplete="off" />
          <mat-error *ngIf="registerForm.get('email')?.hasError('required')">O email é obrigatório.</mat-error>
          <mat-error *ngIf="registerForm.get('email')?.hasError('email')">Insira um email válido.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="senha" required autocomplete="off" />
          <mat-error *ngIf="registerForm.get('password')?.hasError('required')">A senha é obrigatória.</mat-error>
          <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">A senha deve ter pelo menos 6 caracteres.</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit">Registrar</button>
      </form>
    </div>
    <div class="sign-in">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit('login')">
        <h2>Entrar</h2>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required autocomplete="off" />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">O email é obrigatório.</mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Insira um email válido.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="password" required autocomplete="off" />
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">A senha é obrigatória.</mat-error>
          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">A senha deve ter pelo menos 6 caracteres.</mat-error>
        </mat-form-field>
        <a (click)="recover()">Ixqueceu a senha piá?</a>
        <button mat-raised-button type="submit">Entrar</button>
      </form>
    </div>
    <div class="orverlay-container">
      <div class="overlay">
        <div class="overlay-left">
          <h1>DTI BET</h1>
          <span>Salve seu chupa manga, acessa com teu login e vem perder dinheiro!</span>
          <button id="signIn">Entrar</button>
        </div>
        <div class="overlay-right">
          <h2>DTI BET</h2>
          <span>Orras feio, tu não ta registrado?! chega mais e manda teus dados!</span>
          <button id="signUp">Registrar</button>
        </div>
      </div>
    </div>
  </div>
</div>